.hide {
  display: none;
}

.bg-dark {
  background-color: rgba(64, 64, 64, 0.91);
}

.bg-white {
  background-color: rgba(226, 226, 226, 0.8)
}

.box-circle {
  border-radius: 25px;
  padding: 15px;
}
