.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge.hotlibrary{
    background-color: #D7DDD5;
    color: #8B1E01;
    position: absolute;
    top: 5%;
}

.media-object {
  max-height: 400px;
}

.panel-hotlibrary {
  border-color: #661500;
}

.panel-hotlibrary .panel-heading {
  background-color: #8B1E01;
  color: rgb(214, 215, 214);
}

.thumbnail-hotlibrary img {
  height: 380px;
}

.thumbnail-hotlibrary {
  height: 523px;
}

.caption-with-border {
  margin-top: 4px;
  padding: 9px;
  color: #333;
  border: 1px solid #cdcaca;
  border-radius: 4px;
}

.thumbnail-hotlibrary .btn {
  position: absolute;
  left: 5%;
  top: 92%;
  width: 90%;
}

.thumbnail-hotlibrary:hover {
  border-color: #661500;
  box-shadow: 0px 5px 10px black;
}

.multiSelect .multiSelectItem {
  transition: border-color 0.5s;
}
.multiSelect .multiSelectItem:hover{
  border-color: #661500 !important;
  background: transparent !important;
  color: #333 !important;
}

.btn-clean {
  background: transparent;
  border: none;
}

.dropdown-hotlibrary {
  background-color: #8B1E01;
  border-color: #661500;
}

.dropdown-hotlibrary li a{
  color: rgb(215, 221, 213);
  transition: color 1s, background-color 1s;
  web-kit-transition: background-color 1s;
}

.dropdown-hotlibrary li a:hover{
  color: #333;
  background-color: rgb(232, 232, 232);
}

.table-button {
  cursor: pointer;
}

.pagination li a {
  color: #333;
  transition: border-color 1s;
}

.pagination li a:hover {
  border-color: #661500;
  color: #333;
}

.pagination .active a {
  background-color: #8B1E01;
  border-color: #661500;
  transition: background-color 1s, border-color 1s, color 1s;
}

.pagination .active a:focus {
  background-color: #8B1E01;
  border-color: #661500;
  transition: background-color 1s, border-color 1s, color 1s;
}

.pagination .active a:hover {
  background-color: rgb(232, 232, 232);
  border-color: #661500;
  color: #333;
}

.alert {
  display: none;
}

.navbar {
  border-radius: 0px;
}

.navbar-hotlibrary {
  background-color: #8B1E01;
  border-color: #661500;
}

.page-header {
  border-color: #8B1E01;
}

.btn-hotlibrary {
  background-color: #8B1E01;
  color: rgb(214, 215, 214);
  transition: background-color 1s, border-color 1s, color 1s;
}

.btn-hotlibrary:focus {
  background-color: rgb(232, 232, 232);
  border-color: #661500;
}

.btn-hotlibrary:hover {
  background-color: rgb(232, 232, 232);
  border-color: #661500;
}

.navbar-hotlibrary a {
  color: rgb(215, 221, 213);
  transition: color 1s, background-color 1s;
  cursor: pointer;
}

.navbar-hotlibrary a:hover, a:focus {
  color: rgb(48, 48, 48);
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: rgb(48, 48, 48);
}

.hide {
  display: none;
}

.bg-dark {
  background-color: rgba(64, 64, 64, 0.91);
}

.bg-white {
  background-color: rgba(226, 226, 226, 0.8)
}

.box-circle {
  border-radius: 25px;
  padding: 15px;
}

.selected {
  background-color: #8B1E01;
  color: rgba(217, 212, 212, 0.81);
}
