<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <h2 class="page-header">Alterar senha</h2>


    <form class="form-horizontal" name="changePassword" ng-submit="alterPassword(Form.password)" autocomplete="off" novalidate>
      <div ng-if="Alert.visible" class="form-group">
        <div ng-class="Alert.class">
          <p class="text-center">{{ Alert.message }}</p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': changePassword.password.$dirty && changePassword.password.$invalid, 'has-success': changePassword.password.$valid }">
        <label class="control-label" for="password">Nova senha:</label>
        <input id="password" class="form-control" type="password" name="password" ng-model="Form.password" ng-minlength="8" ng-trim="true" required>
        <div class="" ng-messages="changePassword.password.$error" ng-if="changePassword.password.$dirty">
          <span class="help-block" ng-message="required"><i class="fa fa-exclamation-circle"> O campo senha é obrigatório</i></span>
          <span class="help-block" ng-message="minlength"><i class="fa fa-exclamation-circle"> A senha deve possuir no minimo 8 caracteres</i></span>
          <span ng-if="changePassword.password.$valid" class="help-block"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': changePassword.confirmPassword.$dirty && changePassword.confirmPassword.$invalid,'has-success': changePassword.confirmPassword.$valid}">
        <label class="control-label" for="confirmPassword">Confirmar senha:</label>
        <input id="confirmPassword" class="form-control" type="password" ng-model="Form.confirmPassword" name="confirmPassword" required ng-minlength="8" ng-trim="true" compare-to="password">
        <div ng-messages="changePassword.confirmPassword.$error" ng-if="changePassword.confirmPassword.$dirty">
          <span class="help-block" ng-message="required"><i class="fa fa-exclamation-circle"> O campo confirmar senha é obrigatório</i></span>
          <span class="help-block" ng-message="minlength"><i class="fa fa-exclamation-circle"> A senha deve possuir no minimo 8 caracteres</i></span>
          <span class="help-block" ng-message="pwmatch"><i class="fa fa-exclamation-circle"> As senhas não são iguais</i></span>
          <span ng-if="changePassword.confirmPassword.$valid" class="help-block"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" name="btnSubmit" class="btn btn-default" ng-disabled="btnSubmit.disabled">Alterar <i ng-if="btnSubmit.disabled" class="fa fa-spinner fa-pulse"></i></button>
      </div>
    </form>
  </div>
</div>
