<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <h2 class="text-center">{{ Page.title }}</h2>

    <div ng-if="alert.show" ng-class="alert.type">
      <h4 class="text-center">{{ alert.title }}</h4>
      <p class="text-center">{{ alert.text }}</p>
    </div>

    <pre>{{ User | json }}</pre>

    <form class="form-horizontal" name="newUser" autocomplete="off" novalidate>

      <div class="form-group">
        <div ng-class="{'has-error':newUser.name.$invalid && (newUser.name.$dirty || newUser.$submitted), 'has-success':newUser.name.$valid}">
          <label for="name" class="control-label">Nome:</label>
          <input id="name" class="form-control" type="text" name="name" placeholder="Fulano de tal" ng-model="User.name" ng-required="true" ng-minlength="10" ng-maxlength="50" ng-trim="true" autofocus>
          <span ng-if="newUser.name.$error.required && (newUser.name.$dirty || newUser.$submitted)" class="help-block"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> O campo nome é obrigatório</span>
          <span ng-if="newUser.name.$error.minlength && newUser.name.$dirty" class="help-block"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> O nome deve conter no minimo 10 caracteres</span>
          <span ng-if="newUser.name.$error.maxlength && newUser.name.$dirty" class="help-block"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> O nome deve conter no maximo 50 caracteres</span>
          <span ng-if="newUser.name.$valid" class="help-block"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error':newUser.email.$invalid && (newUser.email.$dirty || newUser.$submitted), 'has-success':newUser.email.$valid}">
          <label for="email" class="control-label">Email:</label>
          <input id="email" class="form-control" type="email" name="email" placeholder="example@example.com" ng-model="User.email" ng-not-exist-email="" ng-required="true">
          <span ng-if="newUser.email.$error.required && (newUser.email.$dirty || newUser.$submitted)" class="help-block"><i class="fa fa-exclamation-circle"> O campo email é obrigatório</i></span>
          <span ng-if="newUser.email.$error.email && newUser.email.$dirty" class="help-block"><i class="fa fa-exclamation-circle"> Informe um email válido</i></span>
          <span ng-if="newUser.email.$error.emailAsync" class="help-block"><i class="fa fa-exclamation-circle"> O email informado já esta cadastrado no sistema</i></span>
          <span ng-if="newUser.email.$valid" class="help-block"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error':newUser.password.$invalid && (newUser.password.$dirty || newUser.$submitted), 'has-success':newUser.password.$valid}">
          <label for="password" class="control-label">Senha:</label>
          <input id="password" class="form-control" type="password" name="password" ng-model="User.password" ng-required="true" ng-minlength="8">
          <span ng-if="newUser.password.$error.required && (newUser.password.$dirty || newUser.$submitted)" class="help-block"><i class="fa fa-exclamation-circle"> O campo senha é obrigatório</i></span>
          <span ng-if="newUser.password.$error.minlength" class="help-block"><i class="fa fa-exclamation-circle"> A senha deve possuir no minimo 8 caracteres</i></span>
          <span ng-if="newUser.password.$valid" class="help-block"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': ( newUser.$submitted|| newUser.level.$dirty) && newUser.level.$invalid, 'has-success': newUser.level.$valid}">
        <label class="control-label" for="level">Lível de acesso:</label>
        <select id="level" class="form-control" name="level" ng-required="true" ng-model="User.level" ng-options="level.type | firstToUpper for level in levels | orderBy:'type'">
          <option value="" selected>Selecione uma opção</option>
        </select>
        <div ng-messages="newUser.level.$error" ng-if="newUser.level.$dirty || newUser.$submitted">
          <span class="help-block" ng-message="required"><i class="fa fa-exclamation-circle"> Selecione um nível de acesso ao usuário</i></span>
          <span ng-if="newUser.level.$valid" class="help-block"><i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="form-group">
        <button id="btnNewUser" class="btn btn-primary" type="submit" name="btnNewUser" ng-click="sendUser(User, newUser.$valid)" ng-disabled="btnNewUser.disabled">Cadastrar Usuário <i ng-show="btnNewUser.disabled" class="fa fa-spinner fa-spin"></i></button>
      </div>
    </form>
  </div>
</div>
