<div class="row">
  <div class="col-lg-offset-1 col-lg-10 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h2 class="page-header text-center">{{ Page.title }}</h2>

    <form name="bookForm" class="form-horizontal" ng-submit="isEdit ? edit(book) : register(book)" enctype="multipart/form-data" autocomplete="off" novalidate>
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error':(bookForm.$submitted || bookForm.name.$dirty) && bookForm.name.$invalid, 'has-success':bookForm.name.$valid}">
          <label for="name" class="control-label">Nome:</label>
          <input id="name" class="form-control" type="text" name="name" placeholder="Nome do livro" ng-model="book.name" ng-required="true" ng-trim="true" ng-maxlength="150">
          <div ng-if="bookForm.name.$dirty || bookForm.$submitted" ng-messages="bookForm.name.$error">
            <span class="help-block" ng-message="required"><i class="fa fa-exclamation-circle"> O campo nome é obrigatório</i></span>
            <span class="help-block" ng-message="maxlength"><i class="fa fa-exclamation-circle"> O nome deve possuir no máximo 150 caracteres</i></span>
            <span class="help-block" ng-if="bookForm.name.$valid"><i class="fa fa-check"></i></span>
          </div>
        </div>

        <div class="form-group">
          <label for="author" class="label-control">Autor:</label>
          <small>Caso não encontre o(a) autor(a) <a href="#!/autor">clique aqui!</a></small>
          <br>
          <isteven-multi-select
            input-model="authors"
            output-model="book.authors"
            button-label="name"
            item-label="name"
            tick-property="isSelected"
            orientation="vertical"
            translation="translation.author">
          </isteven-multi-select>
          <div ng-messages="bookForm.authors.$error">
            <span ng-message="required">O campo autor é obrigatório</span>
          </div>
        </div>

        <div class="form-group">
          <label for="publishingCompany">Editora:</label>
          <small>Caso não encontre a editora <a href="#!/editora">clique aqui!</a></small>
          <br>
          <isteven-multi-select
            input-model="publishingCompanies"
            output-model="book.publishingCompany"
            button-label="name"
            item-label="name"
            tick-property="isSelected"
            orientation="vertical"
            selection-mode="single"
            translation="translation.publishingCompany">
          </isteven-multi-select>
        </div>

        <div class="form-group">
          <label for="categories">Categoria:</label>
          <small>Caso não encontre a categoria <a href="#!/categoria">clique aqui!</a></small>
          <br>
          <isteven-multi-select
            input-model="categories"
            output-model="book.categories"
            button-label="name"
            item-label="name"
            tick-property="isSelected"
            orientation="vertical"
            translation="translation.category">
          </isteven-multi-select>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4 col-lg-4" ng-class="{'has-error':(bookForm.publishDate.$dirty || bookForm.$submitted) && bookForm.publishDate.$invalid, 'has-success':bookForm.publishDate.$valid}">
              <label class="control-label" for="publishDate">Data de lançamento:</label>
              <input id="publishDate" class="form-control" type="text" name="publishDate" placeholder="Ex..: 25/10/1985" ng-model="book.publishDate" ng-pattern="/[0-9]{2}\/[0-9]{2}\/[0-9]{4}/" ng-required="true" date>
              <div ng-messages="bookForm.publishDate.$error" ng-if="bookForm.$submitted || bookForm.publishDate.$dirty">
                <span ng-message="required" class="help-block"><i class="fa fa-exclamation-circle"></i> O campo data de lançamento é obrigatório</span>
                <span ng-message="pattern" class="help-block"><i class="fa fa-exclamation-circle"></i> Informe uma data</span>
                <span ng-message="date" class="help-block"><i class="fa fa-exclamation-circle"> Data invalida</i></span>
                <span ng-if="bookForm.publishDate.$valid" class="help-block"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="col-md-4 col-lg-4" ng-class="{'has-error':bookForm.edition.$invalid,'has-success':bookForm.edition.$valid && bookForm.edition.$dirty}">
              <label for="edition" class="control-label">Edição</label>
              <input id="edition" class="form-control" type="number" name="edition" placeholder="Ex..: 2" min="1" ng-trim="true" ng-model="book.edition">
              <div ng-messages="bookForm.edition.$error">
                <span class="help-block" ng-message="number"><i class="fa fa-exclamation-circle"> Informe apenas números</i></span>
                <span class="help-block" ng-message="min"><i class="fa fa-exclamation-circle"> O número da edição não pode ser negativo</i></span>
                <span class="help-block" ng-if="bookForm.edition.$valid && bookForm.edition.$dirty"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="col-md-4 col-lg-4" ng-class="{'has-error':bookForm.pages.$invalid,'has-success':bookForm.pages.$valid && bookForm.pages.$dirty}">
              <label class="control-label" for="pages">Páginas:</label>
              <input id="pages" class="form-control" type="number" name="pages" placeholder="Ex..:450" min="1" ng-model="book.pages" ng-trim="true">
              <div ng-messages="bookForm.pages.$error" ng-if="bookForm.pages.$dirty">
                <span class="help-block" ng-message="number"><i class="fa fa-exclamation-circle"> Informe apenas números</i></span>
                <span class="help-block" ng-message="min"><i class="fa fa-exclamation-circle"> O número de páginas deve ser positivo</i></span>
                <span class="help-block" ng-if="bookForm.pages.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-success':bookForm.synopsis.$dirty && bookForm.synopsis.$valid}">
          <label class="control-label" for="synopsis">Sinopse:</label>
          <textarea id="synopsis" class="form-control" name="synopsis" rows="8" ng-trim="true" ng-model="book.synopsis" maxlength="255"></textarea>
          <span ng-if="bookForm.synopsis.$dirty && bookForm.synopsis.$valid" class="pull-left help-block"><i class="fa fa-check"></i></span><span class="pull-right" style="color:#333;">{{ 255 - book.synopsis.length }}</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cover">Capa:</label>
          <input id="cover" class="file" type="file" name="cover" file-model="book.cover" accept="image/jpeg">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <hot-alert></hot-alert>
        </div>

        <div class="form-group">
          <button class="btn btn-hotlibrary btn-lg btn-block" type="submit" name="btn-submit" ng-disabled="registration">Cadastrar <i ng-if="registration" class="fa fa-spinner fa-pulse"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
