<back>
  <a ng-href="#!/{{globals.currentUser.homePage}}">
    <i class="material-icons waves-effect waves-light waves-circle white-text">arrow_back</i>
  </a>
</back>

<div class="loading-transition-left-to-center">
  <div class="row" style="margin-bottom: 0px;">
    <nav>
      <div class="nav-wrapper red accent-4">
        <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Nome do livro, autor ou categoria" ng-model="bookSearch">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <div class="row">
    <ul class="collection" style="margin-top:0px;">
      <li class="collection-item avatar" ng-repeat="book in books | filter: bookSearch" ng-click="bookDetails(book.id)">
        <img ng-src="upload/books/{{book.cover}}" alt="" class="circle" style="border-radius:0px;min-height:65px;">
        <span class="title"><b>{{book.name | name}}</b></span>
        <p>
          <b>Autor:</b><br>
          {{ book.authosString | name }}
        </p>
        <p class="truncate">
          <b>Sinopse:</b><br>
          {{ book.synopsis | firstToUpper }}
        </p>
        <!-- <span class="secondary-content"><i class="material-icons grey-text">list</i></span> -->
      </li>
    </ul>
  </div>
</div>
